<section class="main">
  <app-input [editedItem]="editedItem">
  </app-input>
  <div class="container">
    <div class="lista">

      <div class="header-lista">
        <h4 class="title-list">Shopping list</h4>
        <button class="btn-header" (click)="deleteAllItems()">
          <small>Clear list</small>
        </button>
      </div>

      <div *ngIf="shoppingList.length > 0; else thereArentItems">
        <div *ngFor="let item of shoppingList">
          <app-item [item]="item" (editItemEmitter)="editItem($event)"
            (deleteItemEmitter)="deleteItem($event)"></app-item>
        </div>
      </div>

      <ng-template #thereArentItems>
        <div class="empty-text"><small>Empty list</small></div>
      </ng-template>

    </div>
  </div>
</section>
